name: Rhino Setup Binary Generation

on:
  workflow_dispatch

jobs:
  build_amd64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install needed packages
      run: |
        sudo rm -rf /var/lib/apt/lists/*
        sudo apt-get update && sudo apt-get install libgtk-4-dev libadwaita-1-dev gettext desktop-file-utils meson ninja-build rustup -y
        rustup update && rustup default stable

    - name: Setup
      run: meson build && mkdir -p builds/amd64

    - name: Build
      run: ninja -C build

    - name: Install
      run: sudo DESTDIR="builds/amd64" meson install --no-rebuild

    - uses: actions/upload-artifact@v4.6.2
      with:
        name: Rhino Setup (AMD64)
        path: build/builds/amd64/

  build_arm64:
    runs-on: ubuntu-24.04-arm
    steps:
    - uses: actions/checkout@v4

    - name: Install needed packages
      run: |
        sudo rm -rf /var/lib/apt/lists/*
        sudo apt-get update && sudo apt-get install libgtk-4-dev libadwaita-1-dev gettext desktop-file-utils meson ninja-build rustup -y
        rustup update && rustup default stable

    - name: Setup
      run: meson build && mkdir -p builds/arm64

    - name: Build
      run: ninja -C build

    - name: Install
      run: sudo DESTDIR="builds/arm64" meson install --no-rebuild

    - uses: actions/upload-artifact@v4.6.2
      with:
        name: Rhino Setup (ARM64)
        path: build/builds/arm64/
