name: Rhino Setup Binary Generation

on:
  workflow_dispatch

jobs:
  build_amd64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3.1.0

    - name: Install needed packages
      run: |
        sudo rm -rf /var/lib/apt/lists/*
        sudo sed -i 's/jammy/.\/devel/g' /etc/apt/sources.list
        sudo apt-get update && sudo apt-get install libgtk-4-dev libadwaita-1-dev gettext desktop-file-utils rustc cargo meson ninja-build -y

    - name: Setup
      run: sudo meson build && mkdir -p builds/amd64

    - name: Build
      run: sudo DESTDIR="builds/amd64" ninja -C build install

    - uses: actions/upload-artifact@v4.6.1
      with:
        name: Rhino Setup (AMD64)
        path: build/builds/amd64/
        
  build_arm64:
    runs-on: ubuntu-24.04-arm
    steps:
    - uses: actions/checkout@v3.1.0

    - name: Install needed packages
      run: |
        sudo rm -rf /var/lib/apt/lists/*
        sudo sed -i 's/jammy/.\/devel/g' /etc/apt/sources.list
        sudo apt-get update && sudo apt-get install libgtk-4-dev libadwaita-1-dev gettext desktop-file-utils rustc cargo meson ninja-build -y

    - name: Setup
      run: sudo meson build && mkdir -p builds/arm64

    - name: Build
      run: sudo DESTDIR="builds/arm64" ninja -C build install

    - uses: actions/upload-artifact@v4.6.1
      with:
        name: Rhino Setup (ARM64)
        path: build/builds/arm64/

